---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";
import Tag from "./Tag.astro";

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
}

const { variant = "h2", data, id, filePath } = Astro.props;

const {
  title,
  description,
  pubDatetime,
  modDatetime,
  timezone,
  author,
  tags,
} = data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium decoration-dashed hover:underline",
};
---

<li
  class="my-6 rounded-lg border border-border bg-background p-4 shadow-sm"
>
  <a
    href={getPath(id, filePath)}
    class="text-lg font-black text-foreground decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      variant === "h2" ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
  <p>{description}</p>

  <div
    class="mt-4 flex flex-wrap items-center gap-x-4 gap-y-2 text-sm text-gray-500"
  >
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="inline-block h-4 w-4 align-text-bottom"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
          d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg
      >
      {author}
    </span>
    <Datetime {pubDatetime} {modDatetime} {timezone} />
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="inline-block h-4 w-4 align-text-bottom"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path><path
          d="M12 7v5l3 3"></path></svg
      >
      大约 7 分钟
    </span>
    <ul class="inline-block">
      {tags.map(item => <Tag tag={item} tagName={item} />)}
    </ul>
  </div>
</li>
