---
import { getCollection } from "astro:content";
import Socials from "@/components/Socials.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";

const posts = await getCollection("blog");
const tags = getUniqueTags(posts);

const uniqueYears = [
  ...new Set(posts.map(post => post.data.pubDatetime.getFullYear())),
];

const { author } = SITE;
---

<div class="w-full">
  <div class="sticky top-8">
    <div class="rounded-lg border border-border bg-background p-6 text-center">
      <!-- Profile Section -->
      <img
        class="mx-auto mb-4 size-24 rounded-full border-2 border-border"
        src="/assets/images/avatar.png"
        alt={author}
      />
      <h2 class="text-2xl font-semibold">{author}</h2>
      <p class="mt-2 text-sm text-foreground/80">
        Hello!
      </p>

      <hr class="my-6 border-dashed" />

      <!-- Stats Section -->
      <div class="grid grid-cols-3 gap-4">
        <div>
          <div class="text-xl font-bold">{posts.length}</div>
          <div class="text-xs">文章</div>
        </div>
        <div>
          <div class="text-xl font-bold">{tags.length}</div>
          <div class="text-xs">标签</div>
        </div>
        <div>
          <a href="/archives" class="block">
            <div class="text-xl font-bold">
              {uniqueYears.length}
            </div>
            <div class="text-xs">时间轴</div>
          </a>
        </div>
      </div>

      <hr class="my-6 border-dashed" />

      <!-- Socials Section -->
      <div class="flex justify-center">
        <Socials centered />
      </div>
    </div>
  </div>
</div>
